@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*,html,body{
	padding: 0px;
	margin: 0px;
    font-family: 'Poppins', sans-serif;
	color: black;
	transition: all 100ms ease-in-out;
	-webkit-user-select: none;
	user-select: none;
}


canvas {
    width: 50vw !important;
  }